*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:"Playfair Display", serif;
}

#navbar{
    width: 100%;
    height: 150px;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    
}
.img{
    margin-left: 60px;

}
.title{
    color: chocolate;
    font-size: xx-large;
}
.menu{
    display: flex;
    
}
.link{
    padding-left: 80px;
}
.item{
    text-decoration: none;
    color: chocolate;
    font-weight: 600;
    font-size: large;
    font-family: cursive;
}
.Sbar{
    font-size: large;
}

.sbtn{
    margin-left: 5px;
    color: chocolate;
}
   /* live wallpaper */
   .carousel-inner{
    width: 100%;
    height: 570px;

   }
   .bimg{
    width: 100%;
    height: 600px;
   }
   /* words */
   .words{
    background-color: rgb(14, 14, 14);
    width: 100%;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
   }

   .lines{
    display: flex;
    align-items: center;   
    justify-content: center;
    padding-top: 50px;
    color: red;
    font-family: "Playwrite GB S", serif;
    font-size: xx-large;
   }
   .sp1{
    color: chocolate;
    font-family: "Exo 2", sans-serif;
    margin-left: 2px;
   }


   /* img div */

   .mimgs{
    width: 100%;
    height: 1250px;
    background-color: bisque;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px; 
    align-items: center;
    padding: 30px;
   }

   /* footer */
   .assenn{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.licon{
    font-size: xx-large;
}
.imic{
    padding-left: 20px;
}
.foodp{
    color: cadetblue;
   
}
   .foot{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(47, 1, 1);
}
.iconcollection{
    display: flex;
    
    
}
.ics{
    margin-right: 30px;
    font-size: x-large;
    
    
    
}
.sec{
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: burlywood;
}
.pps{
    color: burlywood;
}

.lasthead{
    color: chocolate;
    font-size:xx-large;
}
.lasthead{
    margin-right: 35px;
}
.lastimg{
    margin-left: 45px;
}

/* scroll bar */
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color:bisque;
}
::-webkit-scrollbar-thumb{
    background-color:chocolate;
    border-radius: 10px;
}
.newl{
    text-decoration: none;
    color: burlywood;

}

@media (sm) {
    .Sbar {
      display: block;
    }
}